
<div class="container">

    <div class="row justify-content-center p-0 m-0 mt-5">
        
        <div class="col-12 text-center">
            <h1><strong>{{materia.nombre}}</strong></h1>
            <p>{{aprobada}}</p>
            <p>Nota final: <strong>{{materia.nota}}</strong></p>
        </div>
        
    </div>


    <div class="row p-0 m-0 justify-content-center mt-5">

        <div class="col-12 text-center">
            <h2>Contenidos mínimos</h2>
        </div>


        <div class="col-10 text-center">
            {{materia.info}}
        </div>

    </div>

</div>